@import '../../constants.scss';

.card {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: 0.75em;
  width: 100%;
  height: 11em;
  .card-body {
    padding: 0.5em;
    .left-column {
      width: 16em;
      margin-right: 2em;
    }
    .title {
      font-size: 1.3em;
    }
    .bolder-text {
      font-weight: bolder;
    }
    .lighter-text {
      font-weight: lighter;
    }
    .button {
      font-size: 0.8em;
      margin-left: 0.5em;
      font-weight: lighter;
      margin-right: 0.5em;
    }
    .btn-sm {
      width: 7rem;
    }
    .edit-button {
      color: $dark-blue;
      border-color: $dark-blue;
    }
    .edit-button:hover {
      color: $white;
      background-color: $dark-blue;
      border-color: $dark-blue;
    }
    .date {
      padding: 0;
    }
  }
  .water {
    background-color: $water;
  }
  .electricity {
    background-color: $electricity;
  }
  .gas {
    background-color: $gas;
  }
  .heat {
    background-color: $heat;
  }
  .label {
    border-radius: 10px;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }
}

.card:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.cardModal {
  .cancel-btn {
    margin-left: 1em;
    color: $dark-grey;
    border-color: $dark-grey;
  }
  .cancel-btn:hover {
    color: $dark-grey;
    background-color: $light-grey;
    border-color: $light-grey;
  }
  .text {
    font-weight: lighter;
    font-size: 0.9em;
  }
}
