@import '../constants.scss';

.app {
  height: 100vh;
  background-color: $bg-app;
  .sidepanel {
    flex: 0 0 auto;
  }
  .main-container {
    flex: 1 1 auto;
    overflow: auto;
    padding-top: 2.714em;
  }
}
