@import '../constants.scss';

.editPage {
    margin-left: 3em;
    margin-right: 3em;
    height: 100%;
    .title {
        font-size: 1.3em;
    }
    .edit {
        margin-top: 2em;
        padding: 2em;
        height: auto;
        .card-column {
            width: 50%;
            padding: 1em;
        }
        .field {
            font-size: 1.1em;
            width: 100%;
            select, input {
                font-size: 1em;
                font-weight: lighter;
            }
            .form-group {
                margin-bottom: 0.5em;
            }
            .form-control {
                font-size: 1em;
                font-weight: lighter;
            }
        }
    }
    .edit:hover {
        box-shadow: none;
    }
    .btns {
        width: 100%;
        .cancel-btn {
            font-weight: lighter;
            margin-left: 1em;
            color: $dark-grey;
            border-color: $dark-grey;
            margin-right: 1em;
          }
          .cancel-btn:hover {
            color: $dark-grey;
            background-color: $light-grey;
            border-color: $light-grey;
          }
          .save-btn {
              font-weight: lighter;
          }
    }
}