@import '../../constants.scss';

.sidepanel {
  width: 14.857em;
  height: 100%;
  background-color: $blue;
  .sidebar-container {
    padding-top: 9.071em;
    height: 100%;
    & > a {
      text-decoration: none;
      font-weight: lighter;
      color: $white;
    }
    & > a:hover {
      font-weight: normal;
    }
    .logout {
      margin-top: auto;
    }
    .active {
      font-weight: normal !important;
      background-color: $dark-blue;
    }
  }
}
